.content-about .content-our-values {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    color: #fff;
    gap: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-about .content-our-values .header {
    text-transform: uppercase;
    font-size: 20px;
}

.content-about .content-our-values .main {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-about .content-our-values .main .value {
    width: 45%;
    align-items: start;
    margin-bottom: 50px;
    gap: 30px;
}

.content-about .content-our-values .main .value .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 20px;
}

.content-about .content-our-values .main .value .icon .bi {
    width: 40px;
    height: 40px;
    color: var(--main-color);
}

.content-about .content-our-values .main .value .texts {
    align-items: start;
}

.content-about .content-our-values .main .value .texts .title {
    font-size: 25px;
    font-weight: 500;
}