footer .footer {
    background-color: #000;
    margin-top: 100px;
    color: #fff;
    padding: 40px 100px;
    align-items: start;
}

footer .footer a {
    color: #ffffff;
}

footer .footer .icons .site-icon img {
    width: 60px;
}

footer .footer .icons .social-icons .line {
    width: 2px;
    height: 50px;
    background-color: #ffffff;
    margin-top: 50px;
}

footer .footer .icons .social-icons .icon i {
    width: 40px;
    font-size: 22px;
}

footer .footer .texts {
    justify-content: right;
    align-items: start;
    gap: 70px;
    margin-left: auto;
}

footer .footer .texts .text-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .footer .texts .header {
    margin-bottom: 20px;
    text-transform: uppercase;
}