* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

:root {
    --header-height: 60px;
    --left-bar-width: 230px;
}

a {
    text-decoration: none;
}