* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

:root {
    --header-height: 60px;
    --offer-height: 30px;
    --left-bar-width: 230px;
    --main-color: rgb(74, 53, 44);
    --secondary-color: rgb(217, 217, 217);
}

body {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.flex-row-gap-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-row-gap-0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-button a,
.secondary-button a {
    display: block;
    padding: 12px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s all cubic-bezier(.2,.7,.2,1);
}

.main-button a {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
}

.main-button a:hover {
    background-color: transparent;
    color: var(--main-color);
}

.secondary-button a {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #000;
}

.secondary-button a:hover {
    background-color: transparent;
    color: var(--secondary-color);
}