header,
header .left,
header .left .pages .pages-list,
header .center,
header .right,
header .right .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 50px;
    height: var(--header-height);
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

header .left .pages .pages-list {
    gap: 20px !important;
}

header .left .pages .pages-list .pages-item {
    list-style: none;
}

header .left .pages .pages-list .pages-item .pages-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s cubic-bezier(.2, .7, .2, 1);
}

header .left .pages .pages-list .pages-item .pages-link:hover {
    color: #888;
}

header .center {
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
}

header .center .icon .logo {
    width: 50px;
    cursor: pointer;
    -webkit-user-drag: none;
}

header .center .header-text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

header .right {
    margin-left: auto;
    gap: 30px !important;
}

header .right .buttons .button {
    cursor: pointer;
}