<link rel="stylesheet" href="/css/partials/header/main.css">
<link rel="stylesheet" href="/css/partials/header/login-popup.css">
<header>
    <div class="left">
        <div class="pages">
            <ul class="pages-list">
                <li class="pages-item pages-item-1">
                    <a href="/" class="pages-link pages-link-1">Homepage</a>
                </li>
                <li class="pages-item pages-item-2">
                    <a href="/page/products.html" class="pages-link pages-link-2">Products</a>
                </li>
                <li class="pages-item pages-item-3">
                    <a href="/page/collection/collections.html" class="pages-link pages-link-3">Collections</a>
                </li>
                <li class="pages-item pages-item-4">
                    <a href="/page/contact.html" class="pages-link pages-link-4">Contact</a>
                </li>
                <li class="pages-item pages-item-5">
                    <a href="/page/about.html" class="pages-link pages-link-5">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="center" onclick="goToHomepage()">
        <div class="icon">
            <img src="/images/logo/FOX-main-square.png" alt="FOX Logo" class="logo"/>
        </div>
        <div class="header-text">foxwear</div>
    </div>
    <div class="right">
        <div class="buttons">
            <div class="button card" onclick="openCard()">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cart"
                     viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
            </div>
            <div class="button user" onclick="openLogin()">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person"
                     viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
            </div>
        </div>
    </div>
</header>
<div class="login" id="login-popup">
    <div class="overlay" onclick="closeLogin()"></div>
    <div class="content">
        <div class="close-icon" onclick="closeLogin()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>
        <form action="post" class="login-form">
            <h1>Login</h1>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Email" required/>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <div class="remember-me-and-forgot-password">
                <label for="remember-me">
                    <input type="checkbox" name="remember-me" id="remember-me">
                    <p>Remember me</p>
                </label>
            </div>
            <input type="submit" value="Submit" class="submit">
            <p>Don't have an account? <a href="/page/register.html" class="register-link">Register</a></p>
        </form>
    </div>
</div>
<script src="/js/partials/header/link.js"></script>

