.content-start {
    height: 850px;
    background-image: url("../../images/main/homepage-main-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: var(--header-height);
}