.content-homepage .content-about-us {
    justify-content: space-between;
    gap: 30px;
    height: auto;
    margin-top: 50px;
}

.content-homepage .content-about-us .main {
    width: 100%;
    align-items: start;
    gap: 150px;
}

.content-homepage .content-about-us .main .about-us-text {
    width: 50%;
    align-items: start;
}

.content-homepage .content-about-us .main .about-us-text p {
    margin-bottom: 10px;
    line-height: 1.8;
}

.content-homepage .content-about-us .main .about-us-picture {
    width: 50%;
    height: 420px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.content-homepage .content-about-us .main .about-us-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
