.content-homepage .content-review {
    height: auto;
    margin-top: 0;
}

.content-homepage .content-review .review-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px 0;
    overflow: scroll;
}

.content-homepage .content-review .review-wrapper::-webkit-scrollbar {
    display: none;
}

.content-homepage .content-review .review-wrapper .user-info .profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.content-homepage .content-review .review-wrapper .user-info .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-homepage .content-review .review-buttons {
    justify-content: end;
}

.content-homepage .content-review .review-buttons .button {
    width: 70px;
    padding: 5px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(.2, .7, .2, 1);
}

.content-homepage .content-review .review-buttons .button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-color);
}
